.HomeMain {
    display: flex;
    flex-direction: row; /* Default layout for larger screens */
    height: 100%;
    width: 100%;
    margin-top: 100px;
  }
  
  .Half {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .passport-image {
    width: auto; /* Make the image responsive */
    height: 400px;
    object-fit: fill; /* Ensures the image covers the area without stretching */
    margin-left: 100px;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
  }

  .HalfData{
    margin-left: 100px;
  }
  
  @media (max-width: 768px) {
    .HomeMain {
      flex-direction: column; /* Stack the elements vertically on smaller screens */
      align-items: center;
    }
  
    .passport-image {
      width: auto; /* Adjust image size for smaller screens */
      margin-left: auto;
      margin-right: auto;
    }
    .HalfData{
      display: none;
    }
    .middleLine{
      display: none;
    }
  }
  

  span{
    color: darkgreen;
  }

  b{
    font-size: 2px;
  }