body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/myportfolio-ee684.appspot.com/o/portfolioBackground.png?alt=media&token=cb121598-28e7-458d-9cfb-2bdc403bb7b1);
  background-size: cover; /* Optional: cover the entire background */
  background-repeat: no-repeat; /* Optional: prevent the image from repeating */
  background-position: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
