body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/free-photo/white-brown-uncooked-rice-white-background_23-2147901826.jpg?t=st=1720892706~exp=1720896306~hmac=3e909e4b10e6cb905badb78c23043b62f62244e6c9ccab43454865557ed5f533&w=1800);
  background-size: cover; /* Optional: cover the entire background */
  background-repeat: no-repeat; /* Optional: prevent the image from repeating */
  background-position: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
